.contador {
    display: block;
    margin: o auto;
    padding: 20px;
    background-color:#575151;
    width: 400px;
    height: 250px;
    border-radius: 25px;

}
#resultado{
    
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background-color: #E1E1E1;
    border-radius: 25px;
    overflow-y: scroll;
}

span{
    color: #FF3232;
}

.contador td button {
        display: block;
        height:40px; 
        font-size : 20px;
        background-color: #F30000;
}